@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* common sharing css */

.container {
  width: 75%;
  max-width: 1440px;
  height: 1px;
  margin: 0 auto;
  height: 100%;
  min-width: 500px
}

/* ***  header css *** */

header {
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
}
.header-wrapper {
  display: flex;
  gap: 70px;
  align-items: center;
}
.header-left {
  max-width: 530px;
  width: 75%;
}
.header-title {
  color: #272727;
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 25px;
}
.header-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  width: 90%;
}
.header-btn {
  padding: 14px 28px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
}
.header-img {
  display: flex;
  align-items: end;
  margin-top: 40px;
}
.header-img img {
  width: 100%;
}

/* *** featured css *** */

.featured-container {
  margin: 0 auto;
  width: 450px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}
.featured-title {
  color: #272727;
  font-size: 28px;
  font-weight: 800;
  padding-bottom: 16px;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.img-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-box {
  width: 300px;
  height: 380px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  display: flex;
  align-items: end;
  justify-content: center;
}
.middle {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.first {
  padding: 0 10px;
}
.img-box img {
  width: 90%;
  height: 80%;
  background-position: center;
  background-size: cover;
}
.box-wrapper {
  display: flex;
  flex-direction: column;
}
.image-description {
  color: #272727;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin-top: 20px;
  text-decoration-line: underline;
}
.support {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  gap: 15px;
}
.item {
  text-align: center;
}
.item img {
  width: 58px;
  height: 58px;
  flex-shrink: 0;
}
.item h5 {
  color: rgba(39, 39, 39, 0.8);
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
}

/* *** hot deal css *** */

.hot-deal-container {
  display: flex;
  padding: 50px 240px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.hot-deal-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hot-title {
  color: #272727;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}
.deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 90%;
  margin-bottom: 20px;
  margin-top: 22px;
}
.hot-btn {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  padding: 15px 26px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;

  width: fit-content;
}
.hot-deal-right img {
  width: 100%;
}
.social-container {
  margin-top: 100px;
  text-align: center;
}
.social-title {
  color: #272727;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 17px;
}
.social-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px; /* 166.667% */
  padding: 0 260px;
}
.social-img-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 120px;
}
.social-img-box {
  width: 225px;
  height: 280px;
}
.social-img-box img {
  width: 100%;
  height: 100%;
}

/* *** get deal css *** */

.get-deal-container {
  height: 300px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/Rectangle\ 9.png");
  background-position: center;
  background-size: cover;
}
.get-deal-title-container {
  text-align: center;
  margin-bottom: 40px;
}
.get-deal-title {
  color: #272727;
  font-family: Lato;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}
.get-deal-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
}
.form {
  width: 100%;
}
form input {
  border-radius: 8px;
  background: #fff;
  padding: 18px 22px;
  border: 0;
  width: 500px;
  font-size: 15px;
  
}
form button {
  border-radius: 8px;
  background: #e55473;
  padding: 18px 18px;
  border: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin-left: 5px;
  
}

/* *** footer section css *** */

footer {
  width: 100%;
  height: 350px;
  background: #111010;
  margin-top: 110px;
  display: flex;  
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  color: #e55473;
  font-size: 35px;
  font-weight: 800;
  
}

.footer-title span {
  color: #fff;
  font-size: 35px;
  font-weight: 800;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 26px;
  padding: 16px 350px 24px 350px
}
.footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}









/* Responsive Design */
.hide{
  display: none;
}
/* Small Devices */




@media screen and (max-width: 576px) {


  /* Footer section */


  footer{
    flex-direction: column;
    height: 230px;
    justify-content: center;
  }
  .footer-description{
    padding: 20px 25px;
  }
  
/* get deal section */

  form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 0 25px;
  }
  form input{
    width: 100%;
  }
  form button{
    width: fit-content;
    padding: 16px 24px;
  }

  .get-deal{
    width: 100%;
  }

  /* social css */
  .social-description{
    padding: 0
  }

  .social-img-container{
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .social-container{
    width: 100%;
    padding: 0 25px;
  }
  .social-img-box{
    width: 70%;
    height: 100%;
    border-radius: 5px;
  }
  .social-img-box img{
    border-radius: 5px;
  }

/* hot deal section */

  .hot-deal-container{
    flex-direction: column-reverse;
    padding: 50px 25px;
  }

/* support section  */

  .support{
    height: 100%;
    flex-direction: column;
    padding: 50px 25px;
    gap: 50px;

  }

  .img-box-container{
    flex-direction: column;
    padding: 0 ;
    gap: 50px;
  }


/* header section */

.header-wrapper{
  flex-direction: column-reverse;
  padding: 0  35px 50px 25px;
  gap: 50px;
}

.header-mobile{
  width: 100%;
  min-width: 0
}

.header-left{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.header-title{
  text-align: center;
  font-size: 42px;
  
}

.header-img img{
  padding: 0 30px;
}

.header-description{
  text-align: center;
}




}