@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* common sharing css */

.container {
  width: 75%;
  max-width: 1440px;
  height: 1px;
  margin: 0 auto;
  height: 100%;
}

/* header css */
header {
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
}
.header-wrapper {
  display: flex;
  gap: 70px;
  align-items: center;
}
.header-left {
  max-width: 530px;
  width: 75%;
}
.header-title {
  color: #272727;
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 25px;
}
.header-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  width: 90%;
}
.header-btn {
  padding: 14px 28px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
}
.header-img {
  display: flex;
  align-items: end;
  margin-top: 40px;
}
.header-img img {
  width: 100%;
}

/* featured css */
.featured-container {
  margin: 0 auto;
  width: 450px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}
.featured-title {
  color: #272727;
  font-size: 28px;
  font-weight: 800;
  padding-bottom: 16px;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.img-box-container {
  display: flex;
  justify-content: space-between;
}
.img-box {
  width: 300px;
  height: 380px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  display: flex;
  align-items: end;
  justify-content: center;
}
.middle {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.first {
  padding: 0 10px;
}
.img-box img {
  width: 90%;
  height: 80%;
  background-position: center;
  background-size: cover;
}
.box-wrapper {
  display: flex;
  flex-direction: column;
}
.image-description {
  color: #272727;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin-top: 20px;
  text-decoration-line: underline;
}
.support {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  gap: 15px;
  
}
.item {
  text-align: center;
}
.item img {
  width: 58px;
  height: 58px;
  flex-shrink: 0;
}
.item h5 {
  color: rgba(39, 39, 39, 0.8);
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
}
/* hot deal css */
.hot-deal-container{
    display: flex;
    padding: 50px 250px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: space-between;
    align-items: center;
}
.hot-deal-left{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hot-title{
    font-size: 28px
}
.deal-description{
    width: 80%;
    text-align: center
}
.hot-btn{
    margin: 0 auto;
}
.hot-deal-right img{
    width:100%;

}